<div class="card">
  <h1>Agendar Consulta</h1>
  <div class="card-content">
    <form [formGroup]="appointmentForm">
      <div class="form-field">
        <label>Data</label>
        <input type="date" formControlName="date" required />
      </div>

      <div class="form-field">
        <label>Hora</label>
        <input type="time" formControlName="time" required />
      </div>

      <div class="form-field">
        <label>Especialidade</label>
        <select formControlName="specialty" required>
          <option *ngFor="let specialty of specialties" [value]="specialty.id">
            {{ specialty.name }}
          </option>
        </select>
      </div>

      <div class="toolbar">
        <button
          type="submit"
          class="button button-primary"
          (click)="saveAppointment()"
        >
          Agendar
        </button>
      </div>
    </form>
  </div>
</div>
